[color]
	ui = auto
[user]
	email = arnoldkao@gmail.com
	name = Arnold Kao
[credential "https://github.com"]
	username = inkounter
	helper = !/usr/bin/gh auth git-credential
[core]
	excludesFile = /home/akao/.gitignore.global
