set editing-mode vi

set keymap vi-command
"\C-l":clear-screen

"\e`": ""
"\e1": ""
"\e2": ""
"\e3": ""
"\e4": ""
"\e5": ""
"\e6": ""
"\e7": ""
"\e8": ""
"\e9": ""

set keymap vi-insert
"\C-l":clear-screen
"\C-p": ""

"\e`": ""
"\e1": ""
"\e2": ""
"\e3": ""
"\e4": ""
"\e5": ""
"\e6": ""
"\e7": ""
"\e8": ""
"\e9": ""
